@use "../../styles/variables" as variables;

.mapContainer {
  height: 560px;
  border-radius: variables.$border-radius-md;
  overflow: hidden;
  box-shadow: variables.$shadow-sm;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(variables.$dark, 0.5);
  text-align: center;
  padding: 10px;
  z-index: 1000;
  font-size: variables.$text-base;
  color: variables.$light;
  font-weight: variables.$font-semibold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.markerIcon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    width: 20px;
    height: 20px;
  }
} 