@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.card {
  background-color: white;
  border: 1px solid rgba(variables.$dark, 0.1);
  border-radius: variables.$border-radius-md;
  padding: variables.$spacing-md;
  display: flex;
  margin: variables.$spacing-xs;
  justify-content: space-between;
  align-items: center;
  box-shadow: variables.$shadow-sm;
  @include mixins.card-hover;
  gap: variables.$spacing-xs;
}
.stopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopName {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: variables.$text-primary;
}

.stopDistance {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: variables.$gray;
}

.zoneText {
  color: variables.$text-secondary;
  font-size: 16px;
  margin-left: auto;
}

.zoneContainer {
  margin-top: variables.$spacing-xs;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xs;
}


